<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="forms">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input class="ion-text-center" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input class="ion-text-center" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input class="ion-text-center" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" class="ion-text-center" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Re-type Password</ion-label>
        <ion-input type="password" class="ion-text-center" formControlName="retypePassword"></ion-input>
      </ion-item>
    </form>
    <ion-button expand="block" class="signupBtn" [disabled]="forms.invalid" (click)="signup()">Register</ion-button>
  </ion-card>
</ion-content>