<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="card-container">
    <ion-card-title class="ion-text-center card-title">Todo List App</ion-card-title>

    <form [formGroup]="forms">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input class="ion-text-center" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input class="ion-text-center" type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>

    <div class="btnContainer">
      <ion-col>
        <ion-button expand="block" (click)="signin()" class="loginbtn" [disabled]="forms.invalid">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="signup()" class="signupbtn">Signup</ion-button>
      </ion-col>
    </div>

  </ion-card>

</ion-content>