<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Todo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Archive</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label>Trash</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
