ion-content ion-toolbar {
  --background: translucent;
}
.slide-opt{
  font-size: 20px;
}
.empty-list{
  display: flex;
  justify-content: center;
}

.empty-list h4 {
  top: 50% !important;
  position: absolute;
}