<ion-header>
  <ion-toolbar>
    <ion-title>Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input  (ionChange)="update()" debounce="1000" [(ngModel)]="data.title"></ion-input>
  </ion-item>
  <ion-textarea style="height: 100%;" (ionChange)="update()" debounce="1000"  [(ngModel)]="data.note"  placeholder="add some content..."></ion-textarea>
</ion-content>
