<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addToDo()">
        <ion-icon name="add-outline" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!todos.length" class="empty-list">
    <h4>Add Something to do...</h4>
  </div>

  <ion-list *ngIf="todos.length">
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item inset="true">
        <ion-label>
         <h3> <b>{{todo.title}}</b></h3>
         <p><small>{{todo.date_added | date: 'medium'}}</small></p>
        </ion-label>
        <ion-icon name="chevron-back-outline" slot="end" mode="ios"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="slide-opt" (click)="delete(todo)" color="none">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-item-option>
        <ion-item-option class="slide-opt" (click)="view(todo)" color="none">
          <ion-icon name="eye-outline" color="primary"></ion-icon>
        </ion-item-option>
        <ion-item-option class="slide-opt" (click)="done(todo)" color="none">
          <ion-icon name="checkmark-done-outline" color="success"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>